<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf8'>
    <title>Faker Cheatsheet</title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <%= @content %>
  </body>
</html>

